.wd-status,
.wd-status * {
  border-radius: 2px;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.wd-entry {
  background-color: rgb(231, 228, 228);
  border-radius: 3px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.244);
  padding: 5px;
  margin:5px;
}

.wd-icon {
  padding: 2px;
  width: 20px;
}

